header {
    margin: 0;
    padding: 0;
    background: #bbb;
    display: flex;
    width: 100%;   
    position: absolute;
    left: 0;
    top: 0;   
    justify-content: space-around;

    img {
        height: 30px;
        display: inline-block;
        margin: auto 0;
    }
}

main {
    max-width: 980px;
    padding: 0 20px;
    margin: 0 auto;
    margin-bottom: 58px;
    margin-top: 63px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #bbb;
    padding: 20px 0;
    text-align: center;
}